---
type Variants = 'primary' | 'secondary' | 'tertiary';

interface Props {
  variant: Variants;
  classes?: string;
}

const { variant = 'primary', classes = '' } = Astro.props as Props;

let _textColor = '';
switch (variant) {
  case 'secondary':
    _textColor = 'dark-blue';
    break;
  case 'tertiary':
    _textColor = 'dark-gray';
    break;
  default:
    _textColor = 'dark-white';
    break;
}
---

<h3 class={`font-medium text-xl text-${textColor} ${classes}`}>
  <slot />
</h3>
