<div class='w-full h-20 bg-black-blue lg:h-[60px]'>
    <div class="h-full flex items-center content-center justify-between px-6 lg:pl-10">
        <span class="text-sm text-white font-medium">/ W I L L S N A K E</span>
        <p class="hidden lg:block text-white">Design by <a href="/" class="text-white"
                target="_blank">@lilycaulfield</a>
        </p>
    </div>
</div>