---
type Variants = "primary" | "secondary" | "tertiary";

interface Props {
  variant: Variants;
  classes?: string;
}

const { variant = "primary", classes = "" } = Astro.props as Props;

let textColor: string = "";
switch (variant) {
  case "secondary":
    textColor = "dark-blue";
    break;
  case "tertiary":
    textColor = "dark-gray";
    break;
  default:
    textColor = "dark-white";
    break;
}
---

<h3 class={`font-medium text-xl text-${textColor} ${classes}`}>
  <slot></slot>
</h3>
