---
import "../styles/global.scss";
const {
  title = "Jeanine White: Personal Site",
  description = "The personal site of Jeanine White",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js">
</script>

<!-- Matomo Tag Manager -->
<script>
  var _mtm = (window._mtm = window._mtm || []);
  _mtm.push({ "mtm.startTime": new Date().getTime(), event: "mtm.Start" });
  var d = document,
    g = d.createElement("script"),
    s = d.getElementsByTagName("script")[0];
  g.async = true;
  g.src = "https://matomo.willsnake.dev/js/container_wwxVvCCj.js";
  s.parentNode.insertBefore(g, s);
</script>
<!-- End Matomo Tag Manager -->

<!-- Start Cookieyes Script -->
<script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/454aa4a099261153cb5a43f4/script.js">
</script>
<!-- End Cookieyes Script -->