---
import H3 from "@components/H3/H3.astro";
import Text from "@components/Text/Text.svelte";
import Button from "@components/Button/Button.svelte";
import blogPlaceholder from '/assets/blog-placeholder.webp';

const {
    title = "How to do x & y tutorial really long article title",
    description = "Secure Development of web and Android apps based on OWASP standards. Development of Augmented Reality apps.",
} = Astro.props;
---

<div class={`min-w-[370px] max-w-[592px] text-left bg-white rounded shadow-card-blog`}>
    <img src={blogPlaceholder} class="mb-6 rounded-t" />
    <div class="px-4 pb-6">
        <H3 variant="tertiary" classes={`mb-4`}>{title}</H3>
        <Text variant="primary" style="margin-bottom: 16px;">{description}</Text>
        <Button variant="secondary" text="Read more" />
    </div>
</div>