@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap');

@import "tailwindcss";

@theme {
    --color-black-blue: oklch(17.76% 0.000 0);
    --color-black: oklch(0.00% 0.000 0);
    --color-blue: oklch(59.13% 0.214 258.31);
    --color-dark-blue: oklch(42.61% 0.102 255.80);
    --color-dark-gray: oklch(32.11% 0.000 0);
    --color-dark-white: oklch(98.51% 0.000 0);
    --color-gray: oklch(51.03% 0.000 0);
    --color-light-gray: oklch(68.30% 0.000 0);
    --color-lightest-gray: oklch(93.70% 0.000 0);
    --color-transparent: transparent;
    --color-white: oklch(100.00% 0.000 0);
    --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
    --shadow-card-blog: 0px 5px 14px oklch(0 0 360); 
}

* {
    font-family: "IBM Plex Sans";
}