---
import H2 from "@components/H2/H2.astro";
import CardBlog from "@components/CardBlog/CardBlog.astro";
---

<section
  id="blog"
  class="w-full lg:px-auto lg:mx-auto px-6 lg:px-0 py-20 bg-dark-white text-center"
>
  <H2 variant="secondary" classes="mb-10 mx-auto">Blog</H2>
  <div
    class="w-full flex flex-row flex-wrap content-center justify-center items-center gap-y-10 gap-x-4"
  >
    <CardBlog />
    <CardBlog />
    <CardBlog />
  </div>
</section>
