---
import H2 from "@components/H2/H2.astro";
import Card from "@components/Card/Card.astro";
import jobs from "./jobs.json";

let row = 2;
---

<section
  class="w-full px-6 lg:px-0 py-20 bg-dark-white flex flex-col content-center justify-center items-center text-center lg:grid lg:grid-cols-2 lg:auto-rows-auto"
>
  <H2
    variant="secondary"
    classes="mb-10 lg:row-start-1 lg:col-start-1 lg:row-end-2 lg:col-end-3"
    >Education & Experience
  </H2>
  {jobs.map(({ title, date, description }, index) => {
    const _row = row
    let classes = []
    const isEven = index % 2
    if (isEven == 0) {
      classes.push("lg:col-start-1")
      classes.push("lg:col-end-2")
    } else {
      classes.push("lg:col-start-2")
      classes.push("lg:col-end-3")
    }
    row++
    return (
      <Card
        title={title}
        date={date}
        description={description}
        classes={classes.join(" ")}
        row={_row}
        isOdd={!isEven}
      />
    )
  })}
</section>
