---
// const {
//   title = "Jeanine White: Personal Site",
//   description = "The personal site of Jeanine White",
// } = Astro.props;
---

<section class="w-full h-screen inline-flex">
    <div class="w-1/2 h-full">parte 1</div>
    <div class="w-1/2 h-full">parte 2</div>
    <!-- <img class="w-1/2 h-full" src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200&q=75"
            srcSet="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200&q=75 800w,https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200&q=75 1200w,https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1600&q=75 1600w,https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=2400&q=75 2400w"
            sizes="(max-width: 800px) 800px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width: 2400px) 2400px, 1200px" /> -->
</section>

<style>
    div {
        border: 1px solid black;
    }
</style>