---
// Pages
import Nav from "@components/Nav/Nav.astro";
import MainHead from "@components/MainHead.astro";
import Hero from "@pages/hero.astro";
import About from "@pages/aboutMe.astro";
import Experience from "@pages/experience.astro";
import Projects from "@pages/projects.astro";
import Blog from "@pages/blog.astro";
import Contact from "@pages/contact.astro";
import Footer from "@components/Footer/Footer.astro";
---

<html lang="en" class="motion-safe:scroll-smooth">

<head>
  <MainHead title="WillSnake Portfolio" description="WillSnake: Developer" />
</head>

<body class="relative">
  <Nav />
  <Hero />
  <About />
  <Experience />
  <Projects />
  <Blog />
  <Contact />
  <Footer />
</body>

</html>