---
// Pages
import Nav from '@components/Nav/Nav.astro'
import MainHead from "@components/MainHead.astro"
import Hero from "@pages/hero.astro"
import About from "@pages/aboutMe.astro"

// Data Fetching: List all Markdown posts in the repo.
// const projects = await Astro.glob("./project/**/*.md");
// const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en" class="motion-safe:scroll-smooth">

<head>
  <MainHead title="WillSnake Portfolio" description="WillSnake: Developer" />
</head>

<body class="relative">
  <Nav />
  <Hero />
  <About />
</body>

</html>