---
import { H2, Text } from '@ws-portfolio/design-system';
---

<section
  id="about"
  class="w-full px-6 lg:px-0 lg:mt-[-6px] py-20 bg-dark-blue flex flex-col content-center justify-center items-center text-center"
>
  <H2 variant="primary" className="mb-2">About Me</H2>
  <Text variant="secondary" className="font-ibm-plex-sans max-w-[652px]">
    I have over 8 years of experience developing different types of solutions
    for the costumer's needs. I'm highly focused on delivering quality products
    that meet the needs and expectations of my clients. I am a proactive and
    self- taught person that loves to solve challenges and is always striving to
    develop his abilities as an engineer.
  </Text>
</section>
